<% layout('layouts/boilerplate') -%>
    <h1>All Articles</h1>
    <form action="/articles/new" method="GET">
        <button class="btn btn-success mb-3">New Article</button>
    </form>
    

    <% for (let article of articles) { %>
    <div class="card row mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <small class="card-subtitle mb-2 text-muted"><%= article.date.toLocaleDateString() %> </small>
        <p class="card-text"><%= article.description %> </p>
        <a href="/articles/<%=article._id%>" class="btn btn-primary">View more</a>
      </div>
    </div>      
    <% } %> 


