<%- layout('layouts/boilerplate') -%>
<div class="container">
    <div class="row">
        <div class="card mt-5 shadow p-3 mb-5 bg-body rounded col-md-6 offset-md-3">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
